
<div class="abs-field middle bg-default">
    <h3 class="mat-subtitle1">@ChildContent</h3>
    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
</div>

@code {


    [Parameter] public RenderFragment ChildContent { get; set; }


}
