@inherits LayoutComponentBase
@inject IAppConfiguratorService AppConfiguration 

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection Align="@MatAppBarSectionAlign.Start">
                <MatIconButton Link="/" Icon="grade"></MatIconButton>
                <MatAppBarTitle>@AppConfiguration.AppName</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Link="/room" Icon="person"></MatIconButton>
                <LoginDisplay></LoginDisplay>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <div class="body_content">
            @Body
        </div>
    </MatAppBarContent>
</MatAppBarContainer>